.background-box {
  width: 95%;
  margin: 10px auto;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(176, 43, 43, 0.1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 60px;
  align-items: center;
  text-align: center;
}

.n-card {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(176, 43, 43, 0.1);
  margin: 10px 0;
}
.n-button {
  background-color: #3498db;
  color: white;
  border-radius: 10px;
}
.n-button:hover {
  background-color: #16723c;
}
.n-avatar {
  border: 2px solid #1a7be3;
}
