.file-item {
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(176, 43, 43, 0.1);
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgba(222, 222, 222, 0.5);
}

.file-item:hover {
  background-color: rgb(255, 255, 255);
}

.file-name {
  /* flex-grow: 1; */
  font-weight: bold;
  color: #1a7be3;
  /* overflow: hidden; 隐藏超出元素宽度的内容 */
  text-overflow: ellipsis; /* 显示省略号来表示被裁剪的文本 */
  max-width: 200px; /* 限制元素的最大宽度 */
  word-wrap: break-word;
  /* 换行 */
}

.file-card-details {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 86, 179, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.file-item-button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.file-button {
  background-color: #1a7be3;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  width: 100%;
}

@media (min-width: 768px) {
  .file-item-button-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .file-button {
    font-size: 16px;
    border-radius: 10px;
    width: auto;
  }
}

.file-button:hover {
  background-color: #16723c;
}

.file-button.cancel-download {
  background-color: #b02b2b;
}

.file-button.cancel-download:hover {
  background-color: #a02929;
}

.file-button.delete-file {
  background-color: #b02b2b;
}

.file-button.delete-file:hover {
  background-color: #a02929;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.download-progress-bar {
  width: 80%;
  height: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.progress-text {
  width: 20%;
  text-align: right;
  color: #1a7be3;
}

.file-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* gx */
.selected-file {
  appearance: none;
  background-color: #f2f2f2;
  border: 1px solid #c6c6c6;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  outline: none;
  border-radius: 50%;
  margin: 0; /* 添加这一行 */
  padding: 0;
}

.selected-file:checked {
  background-color: #3498db;
  border-color: #3498db;
}

.selected-file:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: white;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

@media (max-width: 600px) {
  .file-button {
    display: none;
  }
}

.file-preview-container {
  margin-top: 10px;
}

.file-preview {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(176, 43, 43, 0.1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.file-preview:hover {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px rgba(176, 43, 43, 0.2);
}

textarea.file-preview {
  height: 300px;
  resize: none;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  overflow: auto;
}

.video-preview {
  max-height: 400px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.image-preview {
  max-height: 400px;
  border-radius: 10px;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.1);
}

/* 媒体查询 */
@media (max-width: 600px) {
  .file-preview {
    width: 100%;
    padding: 10px;
  }

  textarea.file-preview {
    height: 200px;
  }

  .video-preview,
  .image-preview {
    max-height: 300px;
  }
}

.rename-button,
.preview-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #1a7be3;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.rename-button:hover,
.preview-button:hover {
  background-color: #16723c;
}
.rename-button i,
.preview-button i {
  font-size: 16px;
}

.download-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #1a7be3;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(176, 43, 43, 0.1);
}

.download-button:hover {
  background-color: #16723c;
  box-shadow: 0 0 15px rgba(176, 43, 43, 0.2);
}

.download-button i {
  font-size: 16px;
}

.file-rename-input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  border: 1px solid #007bff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 75%;
  margin-bottom: 10px;
  font-size: 1em;
  color: #333;
  background-color: #f9f9f9;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.file-rename-input[type="text"]:focus {
  box-shadow: 0 0 10px rgba(0, 86, 179, 0.5);
  outline: none;
}
