/testfile_folder
/vue_interface/dist
/vue_interface/node_modules
/vue_interface/note
/vue_interface/other
/vue_interface/nginx2.sh
/vue_interface/test
/fastapi_backend/achive
/fastapi_backend/__pycache__
/fastapi_backend/.venv
/fastapi_backend/alembic
/fastapi_backend/download
/fastapi_backend/learn
/fastapi_backend/other
/fastapi_backend/test
/fastapi_backend/uploads
/fastapi_backend/close_proxy_all.sh
/vue_interface/deploy.bat
H599D505C__20240608215612.apk
/vue_interface/whysiki
/H599D505C__20240608215612.apk
/vue_interface/android
vue_interface/src/store.js
/fastapi_backend/deploy.bat
/vue_interface/.vscode
/branch.bat
/vue_interface/src/axios.js
vue_interface/src/store.js
vue_interface/src/store.js
